<!DOCTYPE html>
<html>
<head>
	<title>Signup</title>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" href="css/style.css">

</head>
<body>
	<header>
			<div class="container_12">
				<div class="grid_12">
					<div class="menu_block">
						<nav class="horizontal-nav full-width horizontalNav-notprocessed">
							<ul class="sf-menu">
								                                <li ><a href="/index">HOME</a></li>

								<li ><a href="/about">ABOUT</a></li>
								<li><a href="/hot">HOT TOURS</a></li>
								<li><a href="/special">SPECIAL OFFERS</a></li>
								<li><a href="/blog">BLOG</a></li>
								<li><a href="contact">CONTACTS</a></li>
								<li class="current"><a href="/signup">REGISTER</a></li>
								<li><a href="/login">LOGIN</a></li>
						</nav>
						<div class="clear"></div>
					</div>
				</div>
			</header>
	<div class="container col-md-6">
		<div class="form-control">
			<!-- Default form login -->
			<form class="text-center border border-light p-5" action="/users/signup" method="post">
			    <p class="h4 mb-4">Sign Up</p>
			    <!-- Email -->
			    <input type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Email" name="username">

			    <!-- Password -->
			    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" name="password">
 
			    <!-- Sign in button -->
			    <button class="btn btn-info btn-block my-4" type="submit">Register</button>

			</form>
			<!-- Default form login -->
		</div>
		
	</div>
</body>
</html>